@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf), url(fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}


@mixin flex_liste{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
@mixin flex_image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
@mixin link{
    text-decoration: none;
    color: inherit;
}


body {
    font-family: 'Roboto';
    font-weight: normal;
}
header{
    .nav1{
        @include flex_liste();
        background-color: gray ;
        align-items: center;
        line-height: 1;
        #right a{
            @include link();
        }
    }
    .nav2{
        @include flex_image();
        align-items: center;
        #left ul{
            @include flex_liste();
            width: 300px;
        }
    }
}
.NewIn{
    #cadreFemme {
        align-items: center;
    }
    #NewIn{
        border: 2px solid black;
    }

}
.categories{
    @include flex_image();
    .Accessories{
        text-align: left;
    }
    .Woman{
        @extend .Accessories;
    }
}
#milieu ul{
    @include flex_liste();
    max-width: 500px;
}
.NewIn #cadreFemme{
    background-image: url(saved/zolden-img-02-1.jpg);
    width: auto;
    height: 633px;
    background-repeat: no-repeat;
}

.echantillon{
    @include flex_image();
}
.services{
    @include flex_liste();
    justify-content: space-around;
    text-align: center;
}